#root {
  overflow-x: hidden;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  color: white;
  overflow: auto;
  overflow-x: hidden;
}
.whiteText {
  color: white;
}
.progressbar {
  width: 100%;
}
.expansionPanel {
  width: 100%;
}
.listItemText {
  font-size: 2rem;
}

.quizPageWrapper {
  display: none;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.quizPageWrapper-enter {
  display: flex;
  position: absolute;
  top: 0;
  left: 100vw;
}
.quizPageWrapper-enter-active {
  transition: all 300ms;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.quizPageWrapper-enter-done {
  display: flex;
  position: absolute;
  top: 0;
}

.quizPageWrapper-exit {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.quizPageWrapper-exit-active {
  display: flex;
  position: absolute;
  top: 0;
  left: 100vw;
  transition: all 300ms;
}
.quizPageWrapper-exit-done {
  display: none;
}

.resultPageWrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: #282c34;
}
.theWord {
  font-size: 8em;
  margin: 0px;
  padding: 0px;
  text-shadow: 3px 5px 7px black;
  font-weight: 300;
}
.theWordSmall {
  font-size: 5em;
  margin: 0px;
  padding: 0px;
  text-shadow: 3px 5px 7px black;
  font-weight: 300;
}

.wrong-pinyin {
  color: red;
  font-size: 20px;
}
.wrong-eng {
  color: red;
}
.theWordDiv {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.optionsDiv {
  display: grid;
  grid-template-columns: 50% 50%;
  width: calc(100% - 16px);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  overflow: hidden;
  padding-bottom: 8px;
}
.optionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
}

.betaTag {
  position: fixed;
  background-color: #b53f3f;
  right: -55px;
  padding: 5px;
  transform: rotate(45deg);
  width: 200px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 1px 3px 1px #17191d;
}
.beta {
  padding-left: 50px;
}
.versionNr {
  font-size: 10px;
}

.pickChapterTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  text-align: center;
}

.chooseChapter {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
}
.startPageFooter {
  display: flex;
  color: #979a9c;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
}
.test {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.paper {
  flex: 1;
}
.createdBy {
  position: absolute;
  bottom: 0;
  right: 8px;
  color: #5a5a5b;
}

.versionNrAndGithubLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backButton {
  position: absolute;
  top: 8px;
  left: 8px;
}

@media only screen and (max-width: 1024px) {
  .App {
    scroll-snap-type: y proximity;
  }
  .pickChapterTitle {
    scroll-snap-align: start;
  }

  .chooseChapter {
    scroll-snap-align: start;
  }
}
